.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 70px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 30px;
}

/* Замените стили .input-container на эти */

.input-container {
  position: relative;
  margin: 50px auto;
  width: 100px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #949494;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #949494;
  transition: all 0.3s ease;
  pointer-events: none;
}


.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

/* Изменено: используем :focus вместо :valid */
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:not(:placeholder-shown) ~ .underline {
  transform: scaleX(1);
}

.logo {
  flex: 1 1 0;
  height: 40px;
}

.filters {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-container {
  flex: 1 1 0;
}